html,
body {
    min-height: 100%;
}
body {
    height:100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -3rem;
    padding: ($navbar-brand-height+$navbar-padding-x+$navbar-padding-y + 0.8rem) 0 3rem;
}

.footer {
    height: 3rem;
}